
SECRET_KEY='h)$3&#nybolor@uqb=%lb3k=9nu%q4k$#^p0r_tn)b&#s^nnqs'


# String databases

ENABLE_DB_LOCAL='FALSE'


STRNIG_DATABASE_URL_LOCAL=not used
STRNIG_DATABASE_URL_RENDER=not used
STRNIG_DATABASE_URL_AZURE=not used

DATABASE_URL=postgres://{username}:{password}@host/samudb



# mange host

ALLOWED_HOSTS_DEV=*
RENDER_EXTERNAL_HOSTNAME=https://samuback.onrender.com
CORS_ORIGIN_WHITELIST_DEV=""
CSRF_TRUSTED_ORIGINS_DEV=*

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'xxxxxxx.org'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'tu_usuario_'
EMAIL_HOST_PASSWORD = 'tu_contraseña_'
EMAIL_USE_TLS = True
DEFAULT_FROM_EMAIL = 'tu_dirección_de_correo'

DOMAIN = 'localhost:8000'